<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "cb137d69-104a-4e4c-9fc4-4fd6b5dbcde5",
    });
  });
</script>
    <title>video uploader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>
   <body>

   <div class="ui container center">

   </div>
       <div class="ui segment text center">
           <div class="ui positive message" style="display:none" id="msg">
              <i class="close icon"></i>
              <div class="header">
              اشتغل بالتسبيح بينما يكمل المعالجة
              </div>
            </div>

             <form action = "http://localhost:5000/upload" method = "post" enctype="multipart/form-data">
             <p class="ui header">upload the movie</p>

                 <p><input type = "file" name = "fofo" /></p>
                 <p><input type = "submit" value = "submit" class="ui button teal" onclick="show()" /></p>
          </form>
       </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
   <script>

        function show(){
            document.getElementById("msg").style.display="block";
        }
   </script>
   </body>
</html>